@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Open+Sans&display=swap');

:root {
    /* Colors */
    --color-dark: #002B45;
    --color-header: #002B45;
    --color-beige: #FBF6EF;
    --color-white: #FFFFFF;
    --color-extra: #001623;

    /* Fonts */
    /* --font-family-lora-bold: 'Forum';
    --font-family-lora-reg: 'Inter';
    --font-family-opensans-bold: 'Inter';
    --font-family-opensans-reg: */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif; */
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    scroll-behavior: smooth !important;
}

/*html:focus-within {
    scroll-behavior: smooth;
  } */

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
/*img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  } */
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* .wrapper {
    margin: auto;
    width: 1930px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
} */



/* header start */
.header {
    margin: 0 auto;
    display: flex;
    min-height: 125px;
    background-color: var(--color-header);
    max-width: 1930px;
    padding: 0 150.52px;
}

.header__container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.header__logo {
    display: flex;
    gap: 40px;
}

.header__logo-company {
    width: 177px;
    height: 53.18px;
}

.header__logo-yandexmap {
    width: 181.15px;
    height: 58.37px;
}

.header__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 50px; */
    color: var(--color-white);
}

.header__contacts-address {
    width: 231px;
    font-size: 14px;
    font-family: Open Sans;
    font-weight: 700;
}

.header__contacts-address-title {
    font-weight: 700;
}

.header__contacts-address-address {
    font-weight: 400;
}

.header__contacts-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header__contacts-links-social-icons {
    display: flex;
    gap: 15px;
}

.header__contacts-links-social-icons img {
    width: 36px;
    height: 36px;
}

.header__phone-number {
    width: 176px;
    font-size: 18px;
    font-family: Open Sans;
    font-weight: 700;
}

.header__contact-button {
    width: 184px;
    height: 49px;
    font-size: 12px;
    font-family: Open Sans;
    font-weight: 400;
    border: 0.836px solid #FFF;
    background-color: transparent;
    color: var(--color-white);
    display: inline-flex;
    padding: 15.042px 26.742px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

/* first section start */
.kitchen {
    margin: 0 auto;
    display: flex;
    min-height: 725px;
    max-width: 1930px;
    background-image: url('./assets/first-bgscreen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* to ensure the image is centered */
}

.kitchen__container {
    width: 100%;
    position: relative;
    /* max-width: 1930px; */
}


.kitchen__container-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-direction: column;
    color: var(--color-white);
    padding-top: 150px;
    padding-left: 151px;

}

.kitchen__container-content-title {
    color: white;
    font-size: 64px;
    font-family: Lora;
    font-weight: 400;
}

.kitchen__container-content-count {
    padding-top: 20px;
}


.kitchen__container-content-count p {
    padding-bottom: 10px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

.kitchen__container-content-count button {
    width: 203px;
    height: 58px;
    padding: 18px, 32px, 18px, 32px;
    border: 1px;
    gap: 10px;
    background-color: transparent;
    border: 1px solid white;
    color: var(--color-white);
    text-transform: uppercase;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

.kitchen__container-content-price {
    display: flex;
    gap: 30px;
    font-family: Open Sans;
    font-size: 28px;
    /* font-weight: 700; */
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}


.kitchen__container-content-price-description span {
    font-weight: 700
}

.animated {
    width: 239px;
    height: 80px;
    background-color:var(--color-header);
    position: absolute;
    color: var(--color-white);
    top: 10%;
    left: 32%;
    padding: 10px;
    text-align: center;
    font-family: Open Sans;
    border-radius: 15px;
    font-size: 18px;
}

.animated.size {
    top: 26%;
    left: 55%;
    width: 281px;
}

.animated.wood {
    top: 55%;
    left: 50%;
    width: 230px;
}

/* first section end*/

/* second section start */
.advantages {
    margin: 0 auto;
    min-height: 405px;
    display: flex;
    background-color: var(--color-beige);
}

.advantages__container {
    width: 100%;
    /* max-width: 1930px; */
    display: flex;
    gap: 70px;
}

.advantages__title {
    padding-top: 100px;
    padding-bottom: 56px;
    color: var(--color-extra);
    font-size: 24px;
    font-family: Lora;
    font-weight: 700;
    line-height: 43.20px;
    word-wrap: break-word;
}

.advantages__items {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.advantages__item {
    display: flex;
    gap: 15px;
    flex-direction: row;
}

.advantages__item img {
    width: 70px;
    height: 70px;
}

.advantages__item span {
    color: var(--color-header);
    font-size: 24px;
    font-family: Open Sans;
    font-weight: 700;
    word-wrap: break-word;
}

/*second section end */

/* third section start */

.portfolio {
    margin: 0 auto;
    min-height: 405px;
    padding: 158px 150px;
    display: flex;
    background-color: var(--color-white);
}

.portfolio__container {
    width: 100%;
    /* max-width: 1930px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 20px;
}

.title {
    display: flex;
}

.title .section-title {
    color: #002B45;
    font-size: 36px;
    font-family: Lora;
    font-weight: 700;
    line-height: 43.20px;
    word-wrap: break-word
}

/* third section end */


/* .buttons__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
   

}
.buttons__container-item {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 45%; /* Adjust this value to change the space between the two flexboxes */
}

/* 
.buttons__container-item button
{
 color: white;
 padding: 18px, 32px;
 background-color: #002B45;
 text-transform: uppercase;
 font-size: 16px;
 font-family: Open Sans;
 font-weight: 400;
 width: 207px;
 height: 38px;
} */
*/ .buttons__container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.buttons__container-item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 45%;
    /* Adjust this value to change the space between the two flexboxes */
}

.buttons__container button {
    color: white;
    padding: 18px, 32px;
    background-color: #002B45;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 207px;
    height: 38px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
    /* flex-wrap: wrap; */
    padding-top: 50px;
    /* padding-left: 20px; */
}

.cards__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.cards__container-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 20px;
    width: 588px;
    height: 436px;
    background-color: var(--color-beige);
    border: 1px solid black;
    /* padding-left: 20px; */
    position: relative;
}

.portfolio-img {
    position: absolute;
    /* display: block; */
    top: 0;
    left: 0;
    transform: translateX(-65%);
    /* the rest of your styles */
}

.cards__container-item__title {
    font-family: Lora;
    font-weight: 700;
    font-size: 16px;
    line-height: 21.79px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.cards__container-item__title p {
    font-family: 'Open Sans';
}

.categories__container {
    padding-top: 10px;
    display: flex;
    gap: 50px;
    margin-right:  60px;
    font-family: 'Open Sans';
}

.length {
    font-family: 'Open Sans';
    margin-right:  200px;
}

.cards-buttons button {
    width: 161px;
    height: 48px;
    top: 246px;
    left: 1200px;
    padding: 18px, 32px, 18px, 32px;
    gap: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Lora;
    margin-right: 10px;
    background-color: var(--color-header);
    color:#FFF;
}

.cards-buttons button {
    background-color: var(--color-header);
    color:#FFF;

}





















